.header {
    grid-area: h;

    background: linear-gradient(180deg, #040d2c,#462a8b,#c505d6);
    background: #66FCF1;
    border-radius: 5px;
}
.header img {
    width: 90px;
    border-radius: 5px;
}
