.nav {
    grid-area: n;
    background: -webkit-linear-gradient(294deg, #040d2c,#462a8b,#c505d6);
    background: #45A29E;
    padding: 20px;
    border-radius: 5px;
}

.item  {
    color: white;

}
a{
    text-decoration: none;
}
.active  {
    color: gold;
    text-decoration: none;
}
h1 {

    color: white;
}